#conapesca {  border-collapse: collapse;  width: 100%;  }#conapesca td, #conapesca th {  border: 1px solid #ddd;  padding: 5px;  text-align:center;  font-weight:bold;}#conapesca tr:nth-child(even){background-color: #FFF; }#conapesca th {  padding-top: 5px;  text-align: center;  background-color: #CCCCCC;  color: #696969;  font-weight:bold;    background-color:#D3D3D3;}
/* Estilos para el time picker */
#timepicker {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  margin-top: -53px;
  padding: 5px;
  text-align: center;
  border-radius: 8px;
  position: absolute;
  z-index: 500;
  width: 93%;
}
nav {
  z-index: 9999;
}

#header-mobile nav{

  z-index: 888;

}

#timepicker button {
  display: flex;
  justify-content: center;
  align-items: center;
}
#hours {
  margin-top: 33px;
}
#minutes {
  margin-top: 33px;
}

.hidden {
  display: none;
}

body {
  width: 100%;
  overflow-x: hidden;
}
.nueva {
  text-align: left;
}

h6,
h5,
h4,
h3,
h2,
h1 {
  text-align: left;
  /*color: #545454;*/
}

.top-buffer li a {
  text-align: center;
}
footer p,
li,
ul {
  text-align: left !important;
}

.contenido-body {
  margin-top: 100px;
  height: auto;
}
.img-header {
  width: 100%;
}
.cardG li,
p {
  text-align: justify !important;
}

.nav-tabs {
  display: flex;
  justify-content: space-between;
}

.nav-tabs li,
p {
  flex-grow: 1;
  text-align: justify !important;
}
.card-solicitud {
  width: 50%;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding-bottom: 40px;
  padding-top: 15px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.card-solicitud-table {
  width: 70%;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding-bottom: 40px;
  padding-top: 15px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.card-padding{
  margin-top: 50px;
  margin-bottom: 50px;
}
.card-solicitud h4 {
  margin-bottom: 70px;
}
.card-solicitud .row {
  margin-top: 20px;
}
.card {
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 25px;
  background-color: #fff;
}
.cardG {
  margin-top: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
}
.card img {
  margin-top: 10px;
  border-radius: 15px;
}
.disp-none {
  display: none;
}
.backGray {
  background-color: #dddddd;
  margin-top: -5px;
  padding-bottom: 20px;
  width: 100%;
}
button {
  margin-top: 10px;
}

table,
td,
th {
  text-align: center;
}
th {
  background-color: #dddddd;
}

/*
Contenido del Header
*/
.cont-tab {
  background-color: #dddddd;
  border: 0;
}

.nav-tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nav-tabs li {
  flex-grow: 1;
  text-align: center;
}
.imgCmsCont {
  text-align: center;
  padding: 5%;
}
.justificado p,
li {
  text-align: justify;
}

@media (max-width: 767px) {
  .nav-tabs li {
    flex-basis: 50%;
  }
  .img-monitoreo {
    height: 200px;
  }
  .backGray {
    padding-top: 30px;
    margin-top: -25px;
  }
  .imgCona {
    height: 25px;
  }
  .navConapesca {
    text-align: left;
    padding: 10px;
  }
}
@media (max-width: 350px) {
  .imgCona {
    height: 20px;
  }
}
@media (max-width: 293px) {
  .imgCona {
    height: 15px;
  }
}
@media (max-width: 575px) {
  .nav-tabs li {
    flex-basis: 100%;
  }
}

.btn-gren {
  margin-left: 20px;
  margin-bottom: 15px;
}

/*
ACORDION CSS
*/
.accordion-img {
  width: 100%;
  height: auto;
}
.panel-heading {
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  position: relative;
  padding: 0;
}
.panel-heading a {
  display: block;
  padding: 10px;
}
.panel-heading a:focus {
  outline: none;
}
.resposinveAcordion {
  font-size: small;
}

/*
  BTNRESPONSIVO
  */
.row-btnRes {
  text-align: center;
}
.row-btnRes button {
  text-align: center;
  width: 100%;
}

input,
select,
textarea {
  margin-top: 15px;
}

/* Estilos personalizados para el menú desplegable */
.navbar-collapse {
  background-color: #dddddd; /* Cambia el color de fondo */
}

.navbar-collapse ul li a {
  color: white; /* Cambia el color del texto */
  text-decoration: none;
}

.navbar-inverse1 .navbar-brand,
.navbar-inverse1 .navbar-nav > li > a,
.navbar-inverse1 .navbar-text {
  color: #545454;
}

.navbar-inverse1 {
  background-color: #0c231e;
  border-color: transparent;
}

.navbar-inverse1 .navbar-brand:focus,
.navbar-inverse1 .navbar-brand:hover {
  color: #fff;
  background-color: transparent;
}

.navbar-inverse1 .navbar-nav > .active > a,
.navbar-inverse1 .navbar-nav > .active > a:focus,
.navbar-inverse1 .navbar-nav > .active > a:hover {
  background-color: #691c32;
  color: #fff;
}

.navbar-inverse1 .navbar-nav > .disabled > a,
.navbar-inverse1 .navbar-nav > .disabled > a:focus,
.navbar-inverse1 .navbar-nav > .disabled > a:hover {
  color: #b3b3b3;
  background-color: transparent;
}

.navbar-inverse1 .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-inverse1 .navbar-collapse,
.navbar-inverse1 .navbar-form {
  background-color: #dddddd;
  color: #545454;
}

.navbar-inverse1 .navbar-nav > .open > a,
.navbar-inverse1 .navbar-nav > .open > a:focus,
.navbar-inverse1 .navbar-nav > .open > a:hover {
  background-color: #dddddd;
  color: #545454;
}
.navbar-inverse1 .navbar-nav .open .dropdown-menu > .dropdown-header {
  border-color: transparent;
}
.navbar-inverse1 .navbar-nav .open .dropdown-menu .divider {
  background-color: transparent;
}
.navbar-inverse1 .navbar-nav .open .dropdown-menu > li > a {
  color: #fff;
}
.navbar-inverse1 .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar-inverse1 .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #9d9d9d;
  background-color: transparent;
}
.navbar-inverse1 .navbar-nav .open .dropdown-menu > .active > a,
.navbar-inverse1 .navbar-nav .open .dropdown-menu > .active > a:focus,
.navbar-inverse1 .navbar-nav .open .dropdown-menu > .active > a:hover {
  background-color: #dddddd;
  color: #545454;
}
.navbar-inverse1 .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar-inverse1 .navbar-nav .open .dropdown-menu > .disabled > a:focus,
.navbar-inverse1 .navbar-nav .open .dropdown-menu > .disabled > a:hover {
  color: #444;
  background-color: transparent;
}
.text-center {
        text-align: center;
        font-weight: bold;
}
.bg-dark {
  background-color: #d3d3d3;
  color: #6d6d6d;
}
.bg-dark th {
  font-weight: bold;
  text-align: center;
}
.bg-dark td {
  font-weight: bold;
}
    
